nav.menu-nav ul li.btn a{
	color: white;
	text-decoration: none;
	background-color: burlywood;

}

nav.menu-nav ul li.btn{
	display: inline-block;
	list-style-type: none ;
	padding: 10px;
	font-size: 30px;
}

ul li.btn a {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

a:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: blueviolet;
  transition: all .35s;
}

a span{
  position: relative;
  z-index: 2;
}

a:hover{
  color: #fff;
}

a:hover:after{
  width: 100%;
}

p.Welcome{
  color: #00E97C;
  background-color: black;
  background-size: 200px;
  font-size: 150%;
  padding-left: 550px ;
}

p.Intro{
  color: violet;
}

h1.hello{
  padding-top: 15px;
  padding-left: 600px ;
}

body{
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1d09svpZHsbwAH6Pi0vdkC_xgx8GXJ0GTHg&usqp=CAU") no-repeat;
  background-size: 100%;
}

h3.bye{
  font-size: 25px;
}


/* à réutiliser (un jour peut être) fond d'ecran 
p.Welcome{
	color: #00E97C;
	background-color: black;
	background-size: 200px;
	font-size: 150%;
	padding-left: 550px ;
}

p.Intro{
	color: violet;
}

h1.hello{
	padding-top: 15px;
	padding-left: 600px ;
}

body{
	background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1d09svpZHsbwAH6Pi0vdkC_xgx8GXJ0GTHg&usqp=CAU") no-repeat;
	background-size: 100%;
}

h3.bye{
	font-size: 25px;
}
